<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANkXUYimjFFnOglLD97mUvTgouE5-Ms3w</string>
	<key>GCM_SENDER_ID</key>
	<string>958676880670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pordio.Chay</string>
	<key>PROJECT_ID</key>
	<string>pingbear-96b4c</string>
	<key>STORAGE_BUCKET</key>
	<string>pingbear-96b4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:958676880670:ios:c064e3782fcbe8be4a0d0f</string>
</dict>
</plist>
