<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-958676880670-ios-f4396c17e7a5eac74a0d0f</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location for...</string>

    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location for...</string> 

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location for...</string>
</dict>
</plist>
