<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>app-1-958676880670-ios-f4396c17e7a5eac74a0d0f</string>
            </array>
        </dict>
        <dict/>
    </array>
    <!-- Add the key and a description below -->
    <key>NSContactsUsageDescription</key>
    <string>We need access to your contacts to see which of your friends are using our app.</string>
</dict>
</plist>
